{
  "swagger": "2.0",
  "info": {
    "title": "Customer Demo API Suite v2.2.0",
    "version": "1.0",
    "description": "This API Suite contains a complete list of Panviva's API offerings for the [Customer Demo](https://customerdemo.supportpoint.com/) environment.\r\n\r\n**Content APIs** help perform resource related operations within Panviva products, e.g. `document`, `folder`, `file`, `container`, `image`.\r\n\r\n**Live APIs** exclusively enable real-time communications with online users on our client application.\r\n\r\nOur APIs follow the JSON API specification 1.0."
  },
  "host": "api.panviva.com",
  "basePath": "/v2/customerdemo",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/echo": {
      "get": {
        "description": "Use this echo API to validate connectivity.",
        "operationId": "Echo",
        "summary": "Use this echo API to validate connectivity.",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/document/{id}": {
      "get": {
        "description": "Return a single `document` resource.",
        "operationId": "Document-GET",
        "summary": "Get a document by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A document unique identifier, `Docment ID`.  If a document is a translated document, this value represents `Internal ID` or `IID` in Panviva API v1.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[document]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/document/343?fields[document]=name,version,containers\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "fields[container]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/container/343-229-0-119?fields[container]=name\n```\n\\* *Sparse fieldsets ```fields[TYPE]``` parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include related resources from the relationships into the ```included``` section of the response. The value of the include parameter is a comma-separated list of relationships path.\n```http\nhttps://api-staging.panviva.com/v2/demo/document/343?include=containers\n```",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/documentResourceResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/document/{id}/relationships/containers": {
      "get": {
        "description": "Return a collection of `container` identifier that links to the  `document` resource in the `containers` relationship.  The `containers` relationship links the document details with its contents, previously knowned as section/task/sub-section.\n- Any resource linkage with `meta.children` indicates that it has sub-level `cotnainer`(s) within this relationship.  This `container` represents section in Panviva API 1.0.\n- Any resource linkage with `meta.parent` indicates its sub-level with another `container` within this relationship.  This `container` represents task/sub-section in Panviva API 1.0.  The `parent` value is the `id` of the parent container, previously known as section.\n- Any resource linkage with `meta.taskFlow` indicates that this `container` has been marked as `task flow` and its should represent the flow of the specified `container` in this relationship.",
        "operationId": "Document-s-Containers-Relationship-GET",
        "summary": "Get a document's containers relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A document unique identifier, `Docment ID`.  If a document is a translated document, this value represents `Internal ID` or `IID` in Panviva API v1.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource identifier collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/documentRelationshipContainersResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/document/{id}/containers": {
      "get": {
        "description": "Return a collection of `container` resource that links to the `document`.  This refers to section/task/sub-section content in Panviva API 1.0.",
        "operationId": "Document-s-Containers-GET",
        "summary": "Get related resources from document's containers relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A document unique identifier, `Docment ID`.  If a document is a translated document, this value represents `Internal ID` or `IID` in Panviva API v1.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[container]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/container/343-229-0-119?fields[container]=name\n```\n\\* *Sparse fieldsets ```fields[TYPE]``` parameter can be applied to any resource ```type```.*",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/documentContainersResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/document/{id}/relationships/translations": {
      "get": {
        "description": "Return a collection of `document` identifier that links to the  `document` resource in `translations` relationship.  ",
        "operationId": "Document-s-Translations-Relationship-GET",
        "summary": "Get a document's translations relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A document unique identifier, `Docment ID`.  If a document is a translated document, this value represents `Internal ID` or `IID` in Panviva API v1.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource identifier collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/documentRelationshipTranslationsResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/document/{id}/translations": {
      "get": {
        "description": "Return a collection of `document` resource that links to the `document` resource in `translations` relationship.",
        "operationId": "Document-s-Translations-GET",
        "summary": "Get related resources from document's translations relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A document unique identifier, `Docment ID`.  If a document is a translated document, this value represents `Internal ID` or `IID` in Panviva API v1.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[document]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/document/343?fields[document]=name,version,containers\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/documentTranslationsResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/folder": {
      "get": {
        "description": "Return a collection of `folder` resource that matched the search filter.  The current supported filter keyword are as following.\n- `root` Get resource root folder.  Current supported resource is `document`.  See `filter[root]` for more details.",
        "operationId": "Folder-Search-GET",
        "summary": "Search folder.",
        "parameters": [
          {
            "name": "filter[root]",
            "in": "query",
            "description": "Get root `folder` resource.  The current supported value is `document`.\n```http\nhttps://api-staging.panviva.com/v2/demo/folder?filter[root]=document\n```",
            "type": "string",
            "default": "document",
            "enum": [
              "document"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/folderCollectionResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/folder/{id}": {
      "get": {
        "description": "Return a single `folder` resource.",
        "operationId": "Folder-GET",
        "summary": "Get a folder by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[folder]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/folder/342?fields[folder]=name,children\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "fields[document]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/document/343?fields[document]=name,version,containers\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "fields[file]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/file/18397?fields[file]=name,content\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include related resources from the relationships into the ```included``` section of the response. The value of the include parameter is a comma-separated list of relationships path.\n```http\nhttps://api-staging.panviva.com/v2/demo/document/343?include=containers\n```",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/folderResourceResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/folder/{id}/relationships/children": {
      "get": {
        "description": "Return a collection of `folder`, `document`, and/or `file` identifier that links to the  `folder` resource in `children` relationship.  This include all the translations.  See `filter[language]` to filter out a particular language.",
        "operationId": "Folder-s-Children-Relationship-GET",
        "summary": "Get a folder's children relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter[language]",
            "in": "query",
            "description": "Filter the resource collection to a particular language.  Currently only support `folder.children` relationship.\n- `default[languageCode]` returns the resource collection with a fallback mechanism to original language if the preferred language does not exist.  Language value is in Language-Region (RFC 5646), e.g., 'en-AU', 'en-US'.\n```http\nhttps://api-staging.panviva.com/v2/demo/folder?filter[language]=default[en-AU]\n```",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource identifier collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/folderRelationshipChildrenResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/folder/{id}/children": {
      "get": {
        "description": "Return a collection of `folder`, `document` and/or `file` resource that links to the `folder` resource in `children` relationship.",
        "operationId": "Folder-s-Children-GET",
        "summary": "Get related resources from folder's children relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[folder]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/folder/342?fields[folder]=name,children\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "fields[document]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/document/343?fields[document]=name,version,containers\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "fields[file]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/file/18397?fields[file]=name,content\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          },
          {
            "name": "filter[language]",
            "in": "query",
            "description": "Filter the resource collection to a particular language.  Currently only support `folder.children` relationship.\n- `default[languageCode]` returns the resource collection with a fallback mechanism to original language if the preferred language does not exist.  Language value is in Language-Region (RFC 5646), e.g., 'en-AU', 'en-US'.\n```http\nhttps://api-staging.panviva.com/v2/demo/folder?filter[language]=default[en-AU]\n```",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/folderChildrenResponse"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/folder/{id}/relationships/translations": {
      "get": {
        "description": "Return a collection of `folder` identifier that links to the  `folder` resource in `translations` relationship.  ",
        "operationId": "Folder-s-Translations-Relationship-GET",
        "summary": "Get a folder's translations relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource identifier collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/folderRelationshipTranslationsResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/folder/{id}/translations": {
      "get": {
        "description": "Return a collection of `folder` resource that links to the `folder` resource in `translations` relationship.",
        "operationId": "Folder-s-Translations-GET",
        "summary": "Get related resources from folder's translations relationship.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[folder]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/folder/342?fields[folder]=name,children\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource collection.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/folderTranslationsResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/file/{id}": {
      "get": {
        "description": "Return a single `file` resource.",
        "operationId": "File-GET",
        "summary": "Get a file by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[file]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/file/18397?fields[file]=name,content\n```\n\\* *Sparse fieldsets (```fields[TYPE]```) parameter can be applied to any resource ```type```.*",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/fileResourceResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/container/{id}": {
      "get": {
        "description": "Return a single `container` resource.",
        "operationId": "Container-GET",
        "summary": "Get a container by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[container]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/container/343-229-0-119?fields[container]=name\n```\n\\* *Sparse fieldsets ```fields[TYPE]``` parameter can be applied to any resource ```type```.*",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/containerResourceResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/image/{id}": {
      "get": {
        "description": "Return a single `image` resource.",
        "operationId": "Image-GET",
        "summary": "Get a image by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields[image]",
            "in": "query",
            "description": "Request the API to return only resource specified fields inside `attributes`, `relationships` and/or `meta` section of the resource object. The value of the fields parameter is a comma-separated list that refers to the name(s) of the fields to be returned. Field name is case sensitive.\n```\nhttps://api-staging.panviva.com/v2/demo/image/1462?fields[image]=name,contentType\n```\n\\* *Sparse fieldsets ```fields[TYPE]``` parameter can be applied to any resource ```type```.*",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with the requested resource.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/imageResourceResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/live/document": {
      "post": {
        "description": "Present a document page to specified user on SupportPoint client.",
        "operationId": "Live-Document-POST",
        "summary": "Process asynchronous activities",
        "parameters": [
          {
            "name": "liveDocumentParameter",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/liveDocumentParameter"
            },
            "description": "Meta information to perform `live` activity. \r\n\r\nAn example of a request may be seen under **Sample** below. See **Schema** for a detailed explanation of the request body."
          }
        ],
        "consumes": [
          "application/vnd.api+json"
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed. The request might or might not eventually be acted upon, as it might be disallowed when processing actually takes place. There is no facility for re-sending a status code from an asynchronous operation such as this.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "429": {
            "description": "`429 Too Many Requests` The number of requests reach rate-limiting scheme.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/429TooManyRequests"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/live/search": {
      "post": {
        "description": "Present a search result page of the passing query on SupportPoint client to specified user on SupportPoint client.",
        "operationId": "Live-Search-POST",
        "summary": "Process asynchronous activities",
        "parameters": [
          {
            "name": "liveSearchParameter",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/liveSearchParameter"
            },
            "description": "Meta information to perform `live` activity. \r\n\r\nAn example of a request may be seen under **Sample** below. See **Schema** for a detailed explanation of the request body."
          }
        ],
        "consumes": [
          "application/vnd.api+json"
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed. The request might or might not eventually be acted upon, as it might be disallowed when processing actually takes place. There is no facility for re-sending a status code from an asynchronous operation such as this.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "429": {
            "description": "`429 Too Many Requests` The number of requests reach rate-limiting scheme.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/429TooManyRequests"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/live/csh-search": {
      "post": {
        "description": "Present a CSH search result page of the passing query on SupportPoint client to specified user on SupportPoint client.",
        "operationId": "Live-CSH-POST",
        "summary": "Process asynchronous activities",
        "parameters": [
          {
            "name": "liveSearchParameter",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/liveSearchParameter"
            },
            "description": "Meta information to perform `live` activity.\r\n\r\nAn example of a request may be seen under **Sample** below. See **Schema** for a detailed explanation of the request body."
          }
        ],
        "consumes": [
          "application/vnd.api+json"
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed. The request might or might not eventually be acted upon, as it might be disallowed when processing actually takes place. There is no facility for re-sending a status code from an asynchronous operation such as this.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "429": {
            "description": "`429 Too Many Requests` The number of requests reach rate-limiting scheme.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/429TooManyRequests"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/500InternalServerError"
            }
          }
        },
        "produces": [
          "application/vnd.api+json"
        ]
      }
    },
    "/search": {
      "get": {
        "description": "Return a paginated array of resources matching the given search term.",
        "operationId": "Search-GET",
        "summary": "Run a search by term",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "The word or phrase to be searched for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "The pagination offset to denote the number of initial search results to skip. page[offset] of 100 and page[limit] of 10 would return records 101-110, for example.",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "The number of records to return. Must be an integer between 0 and 1000.",
            "type": "integer",
            "default": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and return with a list of paginated search results, regardless of whether any matches were found.\r\n\r\nAn example of a successful response may be seen under **Sample** below. See **Schema** for a detailed explanation of the response body.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/searchResourceResponse"
            }
          },
          "400": {
            "description": "`400 Bad Request` The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/400BadRequest"
            }
          },
          "404": {
            "description": "`400 Not Found` The server has not found anything matching the request URI.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/404NotFound"
            }
          },
          "405": {
            "description": "`405 Method Not Allowed` The method specified in the request is not allowed for the resource identified by the request URI. The response must include an `Allow` header containing a list of valid methods for the requested resource.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/405MethodNotAllowed"
            }
          },
          "406": {
            "description": "`406 Not Acceptable` The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.\nIf accept headers is specified, ```application/vnd.api+json``` must be the only media type.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/406NotAcceptable"
            }
          },
          "415": {
            "description": "`415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.\nThe only supported media type is ```application/vnd.api+json```.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/415UnsupportedMediaType"
            }
          },
          "422": {
            "description": "`422 Unprocessable Entity` The request was well-formed but was unable to be followed due to semantic errors.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
            },
            "schema": {
              "$ref": "#/definitions/422UnprocessableEntity"
            }
          },
          "500": {
            "description": "`500 Internal Server Error` The server encountered an unexpected condition which prevented it from fulfilling the request.",
            "headers": {
              "X-Api-Version": {
                "type": "string",
                "description": "API version"
              }
[...]
